@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 240px;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;

}
.g-pink{
    color: #FF42A5;
    
}
.name-games:hover{
color: #FF42A5;
}
.games:hover{
border: 1px solid #FF42A5;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
color: #FF42A5;
}

.nav-link {
    display: flex;
    gap: 2rem;
}

.menu a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}

.menu a h2 {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.logo img {
    width: 86.041px;
    height: 40px;
}

.logo {
    align-items: center;
    gap: 20px;
}

.follow-us img {
    width: 33.916px;
    height: 24px;
}

.follow-us {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Banner Section start */
.banner-section {
    padding: 30px 240px 0px 240px;
    background-image: url(../images/Group\ 14.png);
    background-position: left top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;

}

.goat {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gradiant {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 9.25rem;
    margin-bottom: 0px;
}

.banner-list {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.banner-btn {
    display: flex;
    gap: 1.5rem;
}

.btn-primery {
    padding: 21px 40px;
    border: 0px;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.blue-btn {
    background: #4EC5F7;
}

.banner-img img {
    width: 100%;
}

/* We are gamer section */
.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0px 240px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.we-are-gamer img {
    width: 100%;
}

.content-text-we {
    text-align: right;
}

.we-are-title {
    /* text-align: right; */
    font-size: 3rem;
    font-weight: 700;
}

.section-description {
    color: #534C64;
    /* text-align: right; */
    font-size: 1.2rem;
    font-weight: 400;
    width: 520px;
}

.know-more {
    text-align: right;
    margin-top: 32px;
}

/* Funny Videos  section  */
.game-img {
    justify-content: center;
}

.funny-title {
    font-size: 3rem;
    margin-top: 130px;
    margin-bottom: 0px;
}

.funny-description {
    text-align: center;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 16px;
}

.text-funny {
    text-align: center;
}
.img-career img{
    justify-content: left;
    margin-right: 0px;
    padding-right: 0px;
}
.funny-img-title{
    color: #534C64;
font-size: 20px;
font-weight: 500;
}

.game-img {
    display: flex;
    gap: 24px;
    margin: 30px 240px;
}

.game-img img {
    filter: brightness(100%);
    transition: filter .5s ease;
}

.game-img img:hover {
    filter: brightness(50%);
}
.purpose{
    margin-top: 40px;
    margin-bottom: 10px;
}
.everyone{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 40px;
}

/* PLay section starts from here */
.Play-section {
    justify-content: center;
    display: flex;
    gap: 215px;
    margin-top: 130px;
    /* margin-right: 240px; */
}


.overimg {
    position: relative;
    bottom: 300px;
    right: 150px;
}

.text-play {
    text-align: right;
    width: 50%;
}

.play-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}
.img-play{
    padding: 0px;
    margin: 0px;
}

/* Game catagory game catagoryppppp */
.games {
    display: flex;
    gap: 16px;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
}

.games img{
    padding: 10px;
    padding-right: 0px;
    width: 50px;
    height: 50px;
}

.games p{
    padding: 10px 20px 10px 0px;
}

.game-brand {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 60px 240px;
    justify-content: center;
    gap: 27px;
}
.brand-sc{
    padding-top: 0px 240px;
}
.name-games{
    color: #0B0223;

font-size: 16px;

font-weight: 600;

}
/* CAREERS careers starts here */

.text-careers{
    display: flex;
    flex-direction: column;
    padding: 0px 240px;
    color: white;

}
.careers{
    display: flex;
    background-color: #FF42A5;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left center;
    align-items: center;
    padding: 0px;
}
.btn-white{
    margin-top: 30px;
    background: white;
    color: #FF42A5;
    margin-bottom: 120px;
}
.careers-title{

font-size: 3rem;
font-weight: 700;
}
.point-careers{
    display: flex;
    gap: 30px;
    align-items: center;
    color: #FFF;
font-size: 1.25rem;
font-weight: 600;
}
.second-careers{
    text-align: right;
}
/* Footer footer starts from here */
.logo{
    align-items: center;
}
footer{
    background-color: #0B0223;
}
.footer-links p{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.footer-logo .logo{
    justify-content: center;
}

.footer-links{
    display: flex;
    gap: 46px;
    justify-content: center;
    margin-bottom: 24px;

}
.footer-white{
    color: white;
}
.policy{
    color: rgba(255, 255, 255, 0.60);
font-size: 1rem;
font-weight: 500;
text-align: center;
display: flex;
gap: 52px;
justify-content: center;
margin-top: 40px;
}
.copy{
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    padding-bottom: 60px;

}
.footer-icons{
    display: flex;
    gap: 30px;
    justify-content: center;
}




/* RESPONSIVE MOBILE RESPONSIVE MOBILE RESPONSIVE MOBILE  */
@media screen and (max-width: 576px) {

    .we-are-gamer,
    nav,
    .banner-section {
        padding: 20px;
    }

    .menu .nav-link {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .banner-section {
        display: flex;
        flex-direction: column-reverse;
        background-image: none;
    }

    .banner-title {
        padding-top: 60px;
        margin-top: 0px;
    }

    .text-content {
        background-image: url(../images/Group\ 14.png);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding-bottom: 60px;
        padding-top: 0px;
    }
    .funny-title{
        margin-top: 20px;
    }

    .text-content .goat {
        font-size: 60px;
    }

    .banner-list {
        font-size: 16px;
    }

    .banner-title {
        font-size: 32px;
    }

    .menu,
    nav,
    .we-are-gamer {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .btn-primery {
        padding: 16px 30px;
        border: 0px;
        border-radius: 48px;
        font-size: 16px;
    }

    .banner-section div {
        justify-content: center;
    }

    .menu a h2 {

        font-size: 12px;
        font-weight: 500;
    }

    /* we are sectioon */
    .content-text-we {
        text-align: center;
    }

    .section-description {
        font-size: 12px;
        width: 100%;
    }

    .know-more {
        margin-top: 20px;
    }

    /* game pic online funny */
    .game-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
        
    }
    .Play-section{
        flex-direction: column;

    }
    .text-play{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .img-play .himg{
        margin: 20px;
        width: 90%;
    }
    .overimg{
        width: 50%;
        position: relative;
    bottom: 200px;
    right: -50px;
    }
    .text-play {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 0px;

    }
    .play-description {
        font-size: 16px;
     
    }
    .Play-section {
        gap: 30px;
    }
    .game-brand{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0px;
        padding: 20px;
    }

    /* Footer footer footer starts from here */
    .footer-links{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 0px;
        justify-content: center;
        padding-left: 30px;
    }
    .footer-links p{
        color: white;
        font-size: 12px;
        font-weight: 500;
        
    }
    .footer-icons img{
        width: 30px;
        height: 30px;
        
    }
    .footer-icons{
        margin-top: 20px;
        display: flex;
        gap: 16px;
    }
    .policy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        column-gap: 0px;
        padding-left: 10px;

    }
    .careers{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        margin: 0px;
    }
    .text-careers{
        
        padding: 0px 20px;
        text-align: center;
      
    
    }
    .point-careers{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .careers-description{
        width: 90%;
    }
    .img-career img{
        width: 100%;
    }

}

/* dsughfityr8wet 7w8ertf 8we7tf3r7 we8tfy erw87ftg r87ft
TAB TAB TAB TAB TAB TAB RESPONSIVE */
@media screen and (min-width: 576px) and (max-width:992px) {
    .we-are-gamer,
    nav,
    .banner-section {
        padding: 20px;
    }
    .funny-title{
        margin-top: 0px;
    }
    

    .menu .nav-link {
        display: flex;
        gap: 10px;
    }
    .menu{
        display: flex;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    .game-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .Play-section{
        display: flex;
        flex-direction: column;
    }
    .game-brand{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .banner-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .we-are-gamer{
        display: flex;
        flex-direction: column;
    }
    .text-content, .banner-list, .banner-btn, .content-text-we{
        text-align: center;
        justify-content: center;
    }
    .section-description{
        text-align: center;
    }
    .text-content {
        background-image: url(../images/Group\ 14.png);
        background-repeat: no-repeat;
        background-position: left top;
        text-align: center;
        padding-bottom: 60px;
        padding-top: 0px;
    }
    .footer-links p{
        color: white;
        font-size: 16px;
        font-weight: 500;
        
    }
    .footer-icons{
        margin-top: 20px;
        display: flex;
        gap: 16px;
    }
    .policy{
        display: flex;
        /* grid-template-columns: repeat(2,1fr); */
        gap: 16px;
        column-gap: 0px;
        /* padding-left: 10px; */

    }
    .text-play{
        width: 100%;
        text-align: center;
    }
    .himg{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .overimg {
        position: relative;
        bottom: 200px;
        right: -50px;
    }
    .img-play{
        margin: 0px;
        padding: 0px;
    }
    .Play-section{
        padding-top: 0px;
        margin-top: 0px;
        gap: 20px;
    }
    .section-description{
        text-align: center;
        padding: 15px;
        width: 100%;
    }
    .careers{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        margin: 0px;
    }
    .text-careers{
        
        padding: 0px 20px 0px 50px;
        text-align: center;
      
    
    }
    .careers-description{
        text-align: center;
        padding-left: 20px;
    }
    .point-careers{
        display: flex;
        padding: 0px 50px;
    }
    .careers-description{
        width: 90%;
    }
    .img-career img{
        width: 100%;
    }
    .img-career{
        padding-left: 50px;
    }

}